.container-error {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}

#ui-error {
  flex: 2;
  padding: 10vh;
}
#msg-error {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  justify-content: space-between;
}

#image-error {
  flex: 5;
  background-image: url("./src/assets/images/Error.png");
  background-size: cover;
  background-position: center;
}
