.container-login-register {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}

#ui-login-register {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh;
}
.head-login-register {
  flex-grow: 1;
}
.form-login-register {
  flex-grow: 2;
}

#image-login-register {
  flex: 5;
  background-image: url("./src/assets/images/Quimica-Login.png");
  background-size: cover;
  background-position: center;
}
